<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./../assets/vendors/fontawesome/js/all.min.js"></script>
  </head>
  <body class="m-0 p-0">

      <div class="container-fluid m-0 p-0">
        <div class="container np-navbar">
          <img src="./../assets//images/background-navbar.svg" 
            class="np-image-navbar">

          <ul class="np-navbar-menu">
            <li class="np-list-navbar-menu"><a href="#">About</a></li>
            <li class="np-list-navbar-menu"><a href="#skill">Skill</a></li>
            <li class="np-list-navbar-menu"><a href="#portfolio">Portfolio</a></li>
            <li class="np-list-navbar-menu"><a href="#contact">Contact</a></li>
          </ul>
        </div>        
      </div>

      <div class="container d-flex flex-row justify-content-between" 
        id="about">
        <div>
          <img src="./../assets//images/my.svg" 
            style="height:400px">
        </div>
        <div class="mt-5">
          <div class="text-center"><h3>About</h3></div>
          <p>
            Hello There i'am Toni
          </p>

          <p>
            i'am come from indonesia
            <br/>
            i have experince in web programming at least more than 2 years
            <br/>
            i usually using laravel framework due to finish my project 
          </p>
        </div>
      </div>
      
      <div class="container-fluid m-0 p-0"
        style="min-height:900px" id="skill">
          <div class="container p-0" style="position: relative;height:500px;max-width:2000px">
            <img src="./../assets//images/background-skill.svg" 
              style="width:100%">
            <div style="position: absolute;color:white;top:100px;width:100%">
              <div style="width:60%;margin:auto">
                <div class="text-center"><h3>Skill</h3></div>

                <div class="row">
                  <div class="col-4 text-center mb-5 mt-5">
                    <p><i class="fab fa-html5 fa-7x"></i></p>
                    HTML
                  </div>
                  <div class="col-4 text-center mb-5 mt-5">
                    <p><i class="fab fa-css3 fa-7x"></i></p>
                    CSS
                  </div>
                  <div class="col-4 text-center mb-5 mt-5">
                    <p><i class="fab fa-php fa-7x"></i></p>
                    PHP
                  </div>
                  <div class="col-4 text-center mb-5 mt-5 m-auto">
                    <p><i class="fab fa-js fa-7x"></i></p>
                    JS
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    
      <div class="container" 
        id="portfolio">
        <style>
          #portfolio{
            min-height: 650px;
          }
        </style>
        <div class="text-center">
          <h3>Portfolio</h3>
        </div>

        <div class="row mt-5">
          <div class="col">
            <div class="card" style="width: 21rem">
              <a href="https://github.com/litondev/php-native-ejournal"
                target="_blank">
                <img src="./../assets/images/portfolio/ejournal/1.png" 
                  class="card-img-top" 
                  alt="...">
              </a>
              <div class="card-body">
                <div class="card-text text-center mt-3"
                  style="font-size: 14px;">
                  Ejournal Dibuat Dengan Php Native
                </div>
                <div class="card-text text-center mt-3"
                  style="font-size: 14px;">
                  <a href="https://github.com/litondev/php-native-ejournal" target="_blank">Sourcecode</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 21rem">
              <a href="https://github.com/litondev/php-native-simpus-mvc" 
                target="_blank"><img src="./../assets/images/portfolio/perpus/1.png" 
                class="card-img-top" 
                alt="...">
              </a>
              <div class="card-body">
                <div class="card-text text-center mt-3"
                  style="font-size: 14px;">
                  Simpus Dibuat Dengan Php Native
                </div>
                <div class="card-text text-center mt-3"
                  style="font-size: 14px;">
                  <a href="https://github.com/litondev/php-native-simpus-mvc"
                    target="_blank">
                    Sourcecode
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card" style="width: 21rem">
              <a href="https://github.com/litondev/project-articel" 
                target="_blank">
                <img src="./../assets/images/portfolio/project-articel/1.png" 
                  class="card-img-top" 
                  alt="...">
              </a>
              <div class="card-body">
                <div class="card-text text-center mt-3"
                  style="font-size: 14px;">
                  Web Artikel Dibuat Dengan Laravel
                </div>
                <div class="card-text text-center mt-3"
                  style="font-size: 14px;">
                  <a href="https://github.com/litondev/project-articel" 
                    target="_blank">
                    Sourcecode
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid m-0 p-0" 
        id="contact">
        <div class="container p-0" 
        style="position: relative;height:450px;max-width:2000px">
          <img src="./../assets/images/background-contact.svg" 
            style="width:100%">
            <div style="position:absolute;top:130px;left:50px;color:white">
              <h3>Contact</h3>

              <div style="margin-top:50px">
                Email : <br/>
                litoninot12345@gmail.com
              </div>
            </div>
        </div>
      </div>      

      <button onclick="topFunction()" 
        id="np-btn" 
        title="Go to top">
        <i class="fa fa-caret-up fa-2x"></i>
      </button>

      <script>
        // Get the button
        var mybutton = document.getElementById("np-btn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
  </body>
</html>